@charset "UTF-8";



.image-container {
    position: relative;
    width: 90%; /* 必要に応じて調整 */
}

.base-image {
    width: 100%;
    display: block;
}

.overlay-image {
    position: absolute;
    top: 50%; /* 垂直方向の中央 */
    left: 50%; /* 水平方向の中央 */
    transform: translate(-50%, -50%); /* 画像自体を中央に移動 */
    width: 60%; /* 必要に応じて調整 */
    height: auto; /* 縦横比を維持 */
}



.evh1 {
	color: rgb(64, 128, 128)
}

input[name="title"] {


	font-family: "Dancing Script", cursive;
	/* Dancing Script フォントを適用 */

	font-size: 100px;
	font-weight: normal;


	color: rgb(3, 214, 171);
	border: none;
	/* または border: 0; */

}

.h2 {

	color: rgb(4, 194, 194);
}

.evh2 {
	color: rgb(157, 255, 255);
}

input[name="date"] {
	color: rgb(0, 191, 115);
	border: none;
	/* または border: 0; */
}

.eventh1 {
	color: rgb(4, 194, 194);

}

.eventh2 {

	font-family: "Kaisei Decol", serif;
	font-weight: 400;
	font-style: normal;

	font-style: oblique;
	color: rgb(0, 191, 115);
}

textarea[name="treatment"] {
	color: green;
	border: none;
	/* または border: 0; */
}

textarea[name="gift"] {
	color: green;
	border: none;
	/* または border: 0; */
}

adh2 {
	color: rgb(13, 77, 24);
	font-weight: 400;
}

h3 {
	color: rgb(4, 194, 194);
}


th {
	color: rgb(163, 163, 231);
}

.loginh1 {
	color: rgb(25, 109, 109);
	text-shadow: 30cap;
	font-weight: 400;
}

.login_title {
	color: rgb(5, 151, 103);
}

.loginh2 {
	color: rgb(3, 138, 93)
}

.loginp1 {
	color: rgb(5, 129, 88);
}

.alert {
	color: rgb(5, 160, 108);
}

.btn {
	color: rgb(3, 107, 47);
	background-color: rgb(165, 219, 172);
}

.logouth1 {
	color: rgb(5, 131, 89);
	font-weight: 400;
}

.logouth2 {
	color: rgb(3, 141, 141);
}

.navigation-bar {
    background-color: rgb(66, 166, 129);
    padding: 0;
    display: flex;
    width: 100%;
}

.navigation-bar a {
    background-color: rgb(192, 192, 192);
    color: #FFFFFF;
    padding: 10px 0;
    text-decoration: none;
    margin: 0;
    flex: 1;
    text-align: center;
    border-right: 1px solid rgb(128, 128, 128); /* ボタン間に区切り線を追加 */
}

.navigation-bar a:last-child {
    border-right: none; /* 最後のボタンの区切り線を削除 */
}

.navigation-bar a:hover {
    background-color: rgb(128, 128, 128);
}


.eeror{
	color:crimson;
}
